trigger:
  branches:
    include:
      - main

pool:
  name: 'Croem Build Servers'

steps:

# ------------------------------
# Install Node 20 (Cypress 15+)
# ------------------------------
- task: NodeTool@0
  inputs:
    versionSpec: '20.x'
  displayName: "Install Node.js 20.x"

# ------------------------------
# FAST NPM INSTALL (NO npm ci)
# ------------------------------
- script: |
    echo Installing packages...
    npm install --no-audit --no-fund --prefer-offline
  displayName: "FAST Install Dependencies"

# ------------------------------
# Run Cypress Tests
# ------------------------------
- script: |
    echo Running Cypress...
    npx cypress run --browser chrome
  displayName: "Run Cypress Tests"
