trigger:
  - main


pool:
  vmImage: 'ubuntu-latest'


steps:
  # 1️⃣ Install Node.js
  - task: NodeTool@0
    inputs:
      versionSpec: '18.x'
    displayName: 'Install Node.js'

  # 2️⃣ Install project dependencies
  - script: |
      npm install
    displayName: 'Install dependencies'

  # 3️⃣ Run Cypress tests
  - script: |
      npx cypress verify
      npx cypress run
    displayName: 'Run Cypress Tests'