trigger:
  - main

pool: 'Croem Build Servers'

steps:
  - task: NodeTool@0
    inputs:
      versionSpec: '18.x'
    displayName: 'Install Node.js'

  - script: |
      npm install
    displayName: 'Install dependencies'

  - script: |
      npx cypress verify
      npx cypress run
    displayName: 'Run Cypress Tests'
